.header {
    background-color: #373738;
    color: white;
}

li {
    display: inline-block;
    margin: 0 10px;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 30%;
    padding: 1%;
    padding-left: 30px;
    text-align: center;
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.nav {
    width: 73%;
    padding: 1%;
}

.ul {
    width: 50%;
    margin-left: auto;
}

.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
}

.center {
    text-align: center;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer ul {
    display: inline-block;
    vertical-align: top;
}

footer li {
    padding: 10px;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.button {
    background-color: #EC7A7A;
    color: white;
    font-size: 20px;
    border-color: transparent;
    border-radius: 40px;
    padding: 11px 29px;
}

.resume-button {
    margin-top: 10px;
    margin-right: 60px;
}

.dowmload {
    margin-right: 0;
    text-align: center;
}

.intro-msg1 {
    font-weight: 500;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: normal;
    color: black;
    line-height: 150%;
}

.intro-msg2 {
    color: #EC7A7A
}

.intro-msg3 {
    font-weight: 700;
    font-size: 20px;
}

.tbody {
    font-size: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 15px !important;
}

.social {
    width: 3%;
    padding: 10px;
}

.btn-resume {
    background-color: transparent;
    border-color: transparent;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.webkit-link{
    text-decoration: none;
}